

.Admin {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;

  .admin-card {
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    width: 50vw;
    border-radius: 10px;
    flex-flow: column;

    & > div {
      margin: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .game-title {
      text-align: center;
    }

    .game-form {
      width: 100%;
      margin-top: 3em;
      position: relative;

      .question-input {
        margin-bottom: 10px;
      }

      .choices {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        width: calc(100% - 10px);

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .letter {
            margin-bottom: 0;
            margin-right: 3px;
          }
        }
      }

      Button {
        position: static !important;
      }

      .create-game-btn {
        float: right;
      }

      .created-questions {
        text-align: left;
        margin-top: 20px;

        .question {
          margin: 10px 0;
        }

        .indent {
          margin-left: 20px;
        }

        p {
          margin: 0;
        }
      }
      
    }

    h1 {
      margin-bottom: .2em;
    }
  }
}