@import "globals/zothacks-styles.scss";

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $lightBackground;
  color: $fontColor;
  font-family: $hackUCIFont;
  overflow-y: auto;

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }
}